[submodule "backend/dependencies/UsersHub-authentification-module"]
	path = backend/dependencies/UsersHub-authentification-module
	url = ../UsersHub-authentification-module.git
[submodule "backend/dependencies/Nomenclature-api-module"]
	path = backend/dependencies/Nomenclature-api-module
	url = git@github.com/PnX-SI/Nomenclature-api-module.git
[submodule "backend/dependencies/Habref-api-module"]
	path = backend/dependencies/Habref-api-module
	url = git@github.com/PnX-SI/Habref-api-module.git
[submodule "backend/dependencies/Utils-Flask-SQLAlchemy"]
	path = backend/dependencies/Utils-Flask-SQLAlchemy
	url = git@github.com/PnX-SI/Utils-Flask-SQLAlchemy.git
[submodule "backend/dependencies/TaxHub"]
	path = backend/dependencies/TaxHub
	url = git@github.com/PnX-SI/TaxHub.git
[submodule "backend/dependencies/Utils-Flask-SQLAlchemy-Geo"]
	path = backend/dependencies/Utils-Flask-SQLAlchemy-Geo
	url = git@github.com/PnX-SI/Utils-Flask-SQLAlchemy-Geo.git
[submodule "backend/dependencies/RefGeo"]
	path = backend/dependencies/RefGeo
	url = git@github.com/PnX-SI/RefGeo.git
[submodule "backend/dependencies/UsersHub"]
	path = backend/dependencies/UsersHub
	url = git@github.com/PnX-SI/UsersHub.git
